html {
  height: 100%;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  background: linear-gradient(#303030,
  #313132 55%, 
  #353a46 80%, 
  #3a58a8) fixed;
  color: #7a7a7a;
}

:root {
  --bg: #303030;
  --accent: #587AD8;
  --lighttext: #d1d1d1;
  --dark: #212121;
  --mainfont: 'DM Sans', sans-serif;
}

#header {
  width: 100%;
  display: block;
  margin-left: 200px;
  background-color: var(--bg);
}

#logo {
  width: 55px;
  height: 55px;
  display: inline-block;
  margin-top: 5px;
}

h1 {
  height: 1%;
  font-style: bold;
  color: var(--lighttext);
  font-size: 80px;
  letter-spacing: 1px;
  position: sticky;
}

h2 {
  font-size: 68px;
  font-style: bold;
  letter-spacing: 1px;
  color: var(--accent);
}

h3 {
  font-size: 38px;
  color: #a7a7a7;
  letter-spacing: 1px;
}

#sessionname {
  float: left;
  color: var(--lighttext); 
  display: inline-block;
  margin-left: 50px;
}

.button {
  font-family: 'DM Sans', sans-serif;
  z-index: 1;
}

#sessionbuttons {
  float: left;
  margin-left: 250px;
  margin-top: 40px;
}

.sessionbutton {
  font-family: var(--mainfont);
  background-color: #272727;
  border: none;
  width: 300px;
  height: 65px;
  border-radius: 65px;
  margin-right: 50px;
  transition-duration: 0.3s;
}

.sessionbutton:hover {
  background-color: var(--accent); 
}

#buttontext {
  color: #a7a7a7;
  text-transform: uppercase;
  font-size: 26px;
  padding: 6px;
  letter-spacing: 1px;
}

h4 {
  font-style: bold;
  color: #7A7A7A;
  font-size: 50px;
  letter-spacing: 1px;
  position: relative;
  bottom: -20px;
  left: 100px;
}

#joinicon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  transform: translateY(30%)
}

#starticon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  transform: translateY(30%)
}

#djpfp {
  float: left;
  width: 110px;
  height: 110px;
  border-radius: 110px;
  margin-top: 0px;
  margin-left: 192px;
}

.editbutton {
  margin-top: 17px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

/* now playing box */
#queuebox {
  display: block;
  float: left;
  background-color: var(--dark);
  width: 99%;
  margin-top: 70px;
  margin-left: 105px;
}

#queuesubtitle {
  font-size: 38px;
  font-weight: bold;
  color: var(--accent);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-left: 30px;
}

#albumcover {
  float: left;
  width: 160px;
  height: 160px;
  margin: -25px 25px 0px 70px;
}

#currentsong {
  font-size: 38px;
  margin-top: -20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 680px;
}

/* audio controls start */

#audiocontrols {
  width: 100%;
  text-align: center;
}

.shufflebutton {
  background-color: transparent;
  border: none;
  margin-right: 30px;
  position: relative;
  top: -10px;
}

#shuffleicon {
  width: 68px;
  height: 55px;
}

#rewindicon {
  width: 50px;
  height: 60px;
}

.pausebutton {
  background-color: var(--accent);
  border-radius: 150px;
  width: 150px;
  height: 150px;
  border: none;
  margin-top: 10px;
  margin-right: 30px;
}

.replaybutton {
  background-color: transparent;
  border: none;
  position: relative;
  top: -12px;
  margin-right: 10px;
}

#pauseicon {
  width: 50px;
  height: 60px;
  padding: 10px;
  margin-top: 2px;
}

#skipicon {
  width: 50px;
  height: 60px;
}

#replayicon {
  width: 68px;
  height: 50px;
}

/* song progress bar starts */

.player-controls-scrubber {
  margin-left: 420px;
  width: 100px;
  height: 100px;
  background-color: var(--accent);
  border-radius: 100px;
}

.play-pause {
  color: white;
  font-size: 70px;
  margin-left: 16px;
  margin-top: -185px;
}

div#timeline1 {
  width: 72%;
  height: 6px;
  background: var(--accent);
  display: block;
  margin-top: 60px;
  margin-left: 150px;
  margin-bottom: 80px;
}

div#seekObj1 {
  height: 6px;
  background: var(--lighttext);
}

.start-time {
  color: #ddd;
  font-size: 22px;
  display: inline-block;
  margin-top: 150px;
  margin-left: -375px;
}

.end-time {
  color: #ddd;
  font-size: 22px;
  display: inline-block;
  margin-top: 60px;
  margin-left: 450px;
}

/*song progress bar ends */

.requestbutton {
  font-family: var(--mainfont);
  background-color: var(--accent);
  border: none;
  width: 300px;
  height: 65px;
  border-radius: 65px;
  float: right;
  margin-top: -95px;
  margin-right: 35px;
}

/* queue list starts */

#queuelistbox {
  
  margin-top: 40px;
  margin-left: 20px;
}

#qalbumcover {
  width: 85px;
  height: 85px;
  margin-left: 60px;
  display: inline-block;
}

#qsonginfo {
  display: inline-block;
  font-size: 28px;
  margin-left: 30px;
  position: absolute;
  transform: translateY(1%);
}

.songtitle {
  color: var(--lighttext);
}

#queuelist {
  list-style-type: none;
}

ol {
  counter-reset: item;
  
}

li {
  display: block;
  margin-bottom: 75px;
}

li::before {
  display: inline-block;
  content: counter(item) " ";
  counter-increment: item;
  font-size: 28px;
  font-weight: medium;
  color: var(--lighttext);
  margin: 0;
  position: absolute;
  transform: translateY(52%);
  
}

/* sidebar starts */

#logosidebar {
  width: 90px;
  height: 90px;
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 50px;
}

#welcometext {
  font-size: 42px;
  font-style: bold;
  display: inline-block;
  color: var(--lighttext);
  margin: 0;
  position: absolute;
  transform: translateY(220%);
}

#sidebaricon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.sidebar { 
  position: fixed;
  top: 0;
  left: -650px;
  background-color: #262626;
  width: 650px;
  height: 100%;
  z-index: 2;
  transition: .3s;
}

.sidebar a {
    text-decoration: none;
  font-size: 40px;
  font-style: bold;
  color: #a7a7a7;
  display: block;
  transition: .3s;
  margin-left: 110px;
  margin-bottom: 50px;
}

.sidebar a:hover {
  color: var(--accent);
}

.openbtn {
  position: absolute;
  top: 70px;
  right: -130px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.openbtn span {
  display: block;
  width: 35px;
  height: 3px;
  position: absolute;
  top: 24px;
  transition: .3s;
}

.openbtn span:before { 
  content: '';
  width: 100%;
  height: 3px;
  background-color: #262626;
  position: absolute;
  top: -10px;
  left: 0;
  transition: .3s;
}

.openbtn span:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #262626;
  position: absolute;
  top: 10px;
  left: 0;
  transition: .3s;
}

.active {
  left: 0;
}

.openbtn.toggle span {
  background-color: transparent;
}

/* sidebar ends */

/* dropdown starts */

#profiledropdown {
  float: right;
  margin-top: -15px;
  margin-right: 80px;
}

#pfp {
  float: left;
  width: 62px;
  height: 62px;
  border-radius: 52px;
  margin-top: -12px;
  margin-left: -12px;
}

#pfp-large {
  position: absolute;
  right: 19%;
  margin-top: 200px;
  height: 400px;
  border-radius: 200px;
}

#user-full-name {
  position: absolute;
  margin-top: 650px;
  right: 18%;
}

#username {
  float: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--lighttext);
  letter-spacing: 1px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: -7px;
  margin-left: -6px;
}

.dropbtn {
  background-color: var(--dark);
  padding: 16px;
  font-size: 16px;
  width: auto;
  height: 70px;
  border-radius: 80px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: var(--dark);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dark);
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  margin-top: 5px;
  margin-right: -115px;
  z-index: 1;
}

.dropdown-content a {
  color: #ddd;
  font-size: 30px;
  padding: 18px 16px;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 0px;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--accent);
}

.show {
  display:block;
}

/* dropdown ends */
